nav {
    background-color: purple;
    padding: 1% 0;
}

ul{
    display: flex;
  
}

li{
    padding: 0 2%;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

main{
    padding: 0 2%;
    text-align: center;
}

h1{
    font-size: 4rem;
}